POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

CONFIG_REPO_URI=https://github.com/ZedKaS/config-repo.git
CONFIG_REPO_BRANCH=main
CONFIG_SERVER_PORT=8888
EUREKA_PORT=8761
API_GATEWAY_PORT=9000
FRONTEND_PORT=4200

AUTH_SERVICE_PORT=8084
PRODUCT_SERVICE_PORT=8081
CART_SERVICE_PORT=8082
PAYMENT_SERVICE_PORT=8083

APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
